*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.xaml linguist-vendored=false
*.xaml linguist-generated=false
*.xaml linguist-documentation=false
*.xaml linguist-detectable=true
